{{define "subject"}} Welcome! {{end}}

{{define "plainBody"}}
hi,

Thanks for signing up for a Greenlight accout. We're excited to have you on board!

For future reference, your user ID numbers is {{.ID}}

{"token": "{{.activationToken}}"}

Thanks,

The Greenlight Team
{{end}}

{{define "htmlBody"}}
<!doctype html>
<html>

<head>
   <meta name="viewport" content="widt=device-width">
   <meta http-equiv="Content-Type" content="text/html"; charset=UTF-8>
</head>

<body>
   <p>hi, </p>
   <p>Thanks for signing up for a Greenlight accout. We're excited to have you on board!</p>
   <p>For future reference, your user ID numbers is {{.ID}}</p>
   <p>Please send a request to the <code>PUT /v1/users/activated</code> endpoint with the
following JSON body to activate your account:</p>
   <pre><code>
   {"token": "{{.activationToken}}"}
   </code></pre>
   <p>Thanks,</p>
   <p>The Greenlight Team</p>
</body>

</html>
{{end}}